@model LocalBeer.Models.BreweryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BreweryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BreweryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreweryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreweryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreweryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreweryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreweryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreweryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreweryDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BreweryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
